# macOS
.DS_Store

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Environment files
.env
.env.*

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Build artifacts
dist/
build/

# Others
*.swp
*.bak
*.tmp
